
body {
  margin: 0;
  background-image: url("/assets/images/main_background.png");
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: yellow;
  margin: 10px;
}

nav {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  right: 15px;
}

img {
  height: 50px;
  width: 50px;
  filter: invert(100%);
  opacity: 0.7;
  margin: 15px;
}

.canvas-container {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #e0deda;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}